<div class="header">
    <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
        <a class="navbar-brand ml-4" href="https://tourism.gov.in/">
            <img src="assets/images/logo-1.png" width="100px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto text-right">
                <li class="nav-item">
              <li class="nav-item">
                <a class="nav-link text-primary" routerLink="">Home </a>
              </li>
               <li class="nav-item">
                <a class="nav-link text-primary" routerLink="/about" >About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-primary" routerLink="/service">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-primary" routerLink="/contact" >Contact Us</a>
              </li>
            </ul>
          </div>  
   </nav>

</div>