<section class=" ourservices">
    <div class="container text-center mt-3 mx-auto">
    <h1 class="text-success text-uppercase">services</h1>
    <hr class="w-25 mx-auto pt-3">
    
    <div class="row rowsetting">
        <div class="col-lg-4 col-md-4 col-12 d-block m-auto">	
            <div class="imgsetting bg-primary text-white rounded-circle"> 
                <a href="https://aeronfly.com/"><i class="fa fa-plane fa-4x"></i></a>
            </div>
            <h2 class="flight text-capitalize"> By Flight </h2>
            <p class="p-plane"> The aeroplane took off into the air. It flew higher and higher. Everything looked very small.</p> 
        </div>
        <div class="col-lg-4 col-md-4 col-12 d-block m-auto">	
            <div class="imgsetting bg-primary text-white rounded-circle"> 
                <a href="https://www.redbus.in/bus-tickets"> <i class="fa fa-bus fa-4x"></i> </a>
            </div>
            <h2 class="bus text-capitalize"> by bus </h2>
            <p class="p-bus"> A tour bus service is an escorted tour bus service that takes visitors sightseeing, with routes around tourist attractions.</p> 
        </div>
        <div class="col-lg-4 col-md-4 col-12 d-block m-auto">	
            <div class="imgsetting bg-primary text-white rounded-circle"> 
                <a href="https://www.irctc.co.in/nget/train-search"> <i class="fa fa-train fa-4x"></i> </a>
            </div>
            <h2 class="train text-capitalize"> by train </h2>
            <p class="p-train"> Travel India by train. Find the best India Train & Rail tours with TourRadar.We Provides Best Travel and Tour Packages.</p> 
        </div>
    </div>
 </div>
</section>
