<section class="mt-5">
    <div class=" contact-us container mx-auto">
        <h1 class="text-success text-center font-weight-bold text-uppercase pt-5"> Contact US </h1>
        <hr class="mx-auto text-danger w-25">	
    </div>
    <div class="w-50 mx-auto pt-4">
        <div class="form-group">
            <label class="name">Name:</label>
            <input type="text" class="form-control"  placeholder="Enter the Name">
        </div>
        <div class="form-group">
            <label class="name">Email Id:</label>
            <input type="text" class="form-control"  placeholder="Enter Email Id">
        </div>
        <div class="form-group">
            <label class="name">Password:</label>
            <input type="password" class="form-control"  placeholder="Enter password">
        </div>
        <div class="form-group">
            <label class="name">Phone No.:</label>
            <input type="number" class="form-control"  placeholder="Enter phone No.">
        </div>
        <div class="form-group form-check">
            <label class=" name d-flex">
                <input class="form-check-input" type="checkbox">
                <p>I agree Term & Condition.</p>
            </label>
        </div>
        <a href="https://www.unicodesystems.in/" class="btn bg-primary text-white text-uppercase mt-4"> Shop Now </a>	
    </div> 
</section>
