<div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/images/img-16.jpg" alt="Tajmahal"  class="images">
            <div class="carousel-caption">
                <h3 class="visit"> The TajMahal, Agra </h3>
                <p class="enjoy">We had such a great time to enjoy.</p>
                <a href="http://www.tajmahal.gov.in/" class="btn bg-primary text-white"> To Visit </a>
            </div>  
        </div>
        <div class="carousel-item">
            <img src="assets/images/img-13.jpg" alt="Victoria" class="images">
            <div class="carousel-caption">
                <h3 class="visit"> The Victoria, Kolkata</h3>
                <p class="enjoy">We had such a great time to enjoy.</p>
                <a href="https://victoriamemorial-cal.org/visit/index/en" class="btn bg-primary text-white"> To Visit </a>
            </div>  
        </div>
        <div class="carousel-item">
            <img src="assets/images/img-18.jpg" alt="Hotel Taj" class="images">
            <div class="carousel-caption">
                <h3 class="visit"> The Taj Mahal Palace, Mumbai</h3>
                <p class="enjoy">We had such a great time to enjoy.</p>
                <a href="https://www.tajhotels.com/en-in/taj/taj-mahal-palace-mumbai/" class="btn bg-primary text-white"> To Visit </a>
            </div>  
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<!-- //////////// about us/////////// -->
<section class="mt-5 pt-3 pb-5">
    <div class="about-us container mx-auto">
        <h1 class="text-success text-center font-weight-bold text-uppercase pt-3"> ABOUT US </h1>
        <hr class="mx-auto text-danger w-25">	

        <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-12 d-block m-auto">
                <h1 class="tourism text-danger text-center text-uppercase mt-2"> Tourism </h1>
                <hr class="mx-auto text-center text-danger w-50">	
                <p class="p-tour pt-3">Tourism is an important destination for many people who are interested in seeing different places than they live in or see beautiful landscapes that they have not been able to see before.Traveling is a tiring and difficult thing and not everyone is able to travel. But at the same time, it’s a fun activity that takes your tiredness away. Travelling adds flavor to life as you travel to different places that have a different culture and lifestyle. Also, it’s an easy way to learn about the culture and tradition of a place. Besides, for many areas, tourism is their main source of income.</p>
                <a href="https://tourism.gov.in/" class="btn bg-primary text-center text-white text-uppercase mt-5"> Know More </a>	
            </div>
            <div class="col-lg-6 col-md-6 col-12 d-block m-auto">
                <div class="profile text-center">
                    <h2 class="profile text-primary text-center text-uppercase mt-2"> Professional profile </h2>
                    <hr class="w-50 mx-auto text-danger">
                    <img src="assets/images/user-2.png" width="150px" height="150px" class="img-fluid mt-4">
                    <p class="p-profile pt-2">The purpose of your professional profile is to show how your skills and work experience will meet the requirements of the job. The skills you include should be specific to your desired position.</p>
                    <a href="https://www.indeed.com/" class="btn bg-primary text-white text-uppercase mt-3"> Submit </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--New thing-->